
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";
*{
  font-family: "Outfit",sans-serif;
}
@layer base{
  button{
   @apply cursor-pointer 
  }
  input:not([type="checkbox"]){
    @apply outline-none focus:ring border border-gray-300 focus:ring-blue-500 focus:border-blue-500 rounded-lg;
  }
  textarea{
    @apply outline-none focus:ring border border-gray-300 focus:ring-blue-500  focus:border-blue-500 rounded-lg resize-none; 
  }
}

@page {
  size: A4 portrait;
  margin: 0;
}

@media print {
  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
  body * {
    visibility: hidden !important;
  }
  #resume_preview,
  #resume_preview * {
    visibility: visible !important;
  }
  #resume_preview {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 210mm !important;
    min-height: 297mm !important;
    --print-scale: 0.84;
    transform-origin: top  !important;
    transform: scale(var(--print-scale)) !important;
    margin: 0 !important;
    padding: 0 !important;
    box-shadow: none !important;
    background: white !important;
    overflow: visible !important;
    box-sizing: border-box !important;
  }
  #resume_preview {
  page-break-inside: auto !important;
}

  html, body {
    height: 100% !important;
    overflow: hidden !important;
  }
  #resume_preview * {
    box-shadow: none !important;
    outline: none !important;
  }
}
